# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
faiss-cpu==1.7.4
numpy==1.24.3
sentence-transformers==2.5.1
torch>=2.2.0
transformers>=4.48.0
nltk==3.9.1
scikit-learn>=1.5.0
rank-bm25==0.2.2
