# Some of these packages are throwing security warnings
# and need to be updated to later versions.
#
# openai==1.57.4
# IPython==7.34.0
# jupyter_client==6.1.12
# jupyter_core==5.7.2
# notebook==6.5.5